body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f6f6f6;
}
.container {
  text-align: center;
}
input {
  margin: 20px;
}
.question {
  margin-bottom: 30px;
  text-align: left;
}
